page-home {

    .logo {
      text-align: center !important;
      width: 50%;
    }

    .give-title {
      font-size: 18px;
      color: black;
      text-align: center;
    }

    ion-footer {
      p {
        color: gray;
      }
    }

    .is-invalid {
        border-bottom: 2px solid red;
    }

    .error {
        color: red;
        font-size: 13px;
    }

}
